.uk-button {
    font-family: $font_main !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 2px 17px;
}

.uk-button-primary {
    background: $green;
    color: #fff;
    
    &:hover {
        background: lighten($green, 5%);
    }
}

.uk-icon-button {
    background: $green;
    color: #fff;
    
    &:hover {
        background: rgba(0, 102, 0, 0.2);
    }
}