/* Colours --------------- */

$green:                 #006600;
$block_green:           #dfede5;
$block_yellow:          #fdca82;
$block_pink:            #ffccff;



/* Animations ------------ */

$default_transition:    all 0.3s ease;


